     {
    padding: 0;
}

.nav-links li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}

.nav-link {
    padding: 8px;
    text-decoration: none;
    color: #222222;
    background: #dddddd;
}